<div class="page-header">
  <%= link_to pedido_pedido_produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Adicionar item</h1>
</div>

<%= render 'form' %>
